@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
html{
    font-family: 'Anta', 'swap';
    background: rgb(255, 255, 255);
}

.container {
    text-align: center;
  }

.background{
    background-image: url('assets/Gym.jpg')
    }
.banner{
    width:100%;
    height:20px;
    background-color:rgb(62, 36, 36)

}
.navbar{
    width : 85%;
    margin : auto;
    padding : 35px 0;
    display : flex;
    align-items : center;
    justify-content: space-between;
}
